#cnv {

	border: 10px double black;
	


}
#clear {

	background-color: silver;

}#color {
	
}


.ol {
	border-radius: 2px;
	border:2px double silver;
	padding: 5px;
	background-color:silver;


}

.figuru {
		border-radius: 2px;
	border:2px double silver;
	padding: 5px;
	background-color:silver;


}
#number1 {
	
}